@import '../../style/_grid-layout';

table.table.custom-table {
    border-collapse: collapse;
    border: 0;
	width: 100%;
	@include container();

    thead.custom-table_header {
		tr {
			@include row();
			width: 100%;

			th {
				padding: 0.35em 0 .35em;
				font-weight: 400;
				text-align: center;
				font-size: 1.1em;
				border-bottom: none;
				background: transparent;
			}	
		}	
    }
    
    tbody.custom-table_body {
		tr {
			@include row();
			width: 100%;

			td {
				padding: .20em .10em;
				border: none;
                .row-number-cell {
                    text-align: left;
                }
			}
		}
	}
}