@import '../../style/index';

.table.custom-table {
    border-collapse: collapse;
    border: 0;
	@include container();

    thead.custom-table_header {
		tr {
			@include row();
			width: 100%;

			&.clickable_header {
				cursor: pointer;
			}

			th {
				padding: .20em .10em;
				font-weight: 400;
				text-align: center;
				font-size: 1.1em;
				border-bottom: none;
				background: transparent;
			}
		}	
    }
    
    tbody.custom-table_body {
		tr {
			@include row();
			width: 100%;

			&.clickable_row {
				cursor: pointer;
				&:hover {
					background: $row-on-hover;
				}
			}

			td {
				padding: .20em .10em;
				border: none;
                .row-number-cell {
                    text-align: left;
                }
			}
		}
	}
}