@import 'src/style/index';

.app-container {
    width: 100%;

    .app-content {
        background: $content-background;
        @include font-size($content-font-size);
        color: $content-font-color;

        margin: 2%;
    }

    .desktop-navigation {
        display: block;
    }

    .mobile-navigation {
        display: none;
    }

    @include mobile {
        .desktop-navigation {
            display: none;
        }
    
        .mobile-navigation {
            display: block;
        }
    }
}