@import 'src/style/index';

.drawer-container {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow: hidden;
    transition: 0.5s;

    &.drawer-container__left {
        left: 0;
    }

    &.drawer-container__right {
        right: 0;
    }

    &.drawer-container__opened {
        width: 50%;
    }

    .closebtn {
        position: absolute;
        top: 1%;
        right: 3%;
        font-size: 36px;
        margin-left: 50px;
        z-index: 1;
        cursor: pointer;
    }

    .drawer-container__header {
        height: 10%;
    }

    .drawer-container__content {
        height: 100%;
        width: 100%;
    }
}