@import 'src/style/index';

#navigation-bar {
    width: 100%;

    background-color: $navbar-background;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    border-radius: .28571429rem;
    padding: $app-padding;
    
    .navigation-bar__container {
        display: flex;

        width: 100%;
        max-width: $content-max-width;
        
        border: none;
        border-radius: 0;
        box-shadow: unset;

        background-color: $navbar-background;

        justify-content: flex-start;
        align-items: center;

        margin: 0;
        padding-right: 10%;

        .dropdown-link {
            color: $navbar-link-color;         
            @include font-size($navbar-font-size);
        }

        .custom-link {
            color: $navbar-link-color;         
            @include font-size($navbar-font-size);

            &.header-link {
                @include font-size($navbar-home-font-size);
                font-weight: bold;
                padding-right: 5%;
            }
        }
    }

    .navigation-bar__drawer-menu {
        padding: 2% 0 0 0;
        height: 100%;

        .custom-link {
            color: $navbar-link-color;
            @include font-size($navbar-font-size);

            &.header-link {
                @include font-size($navbar-home-font-size);
                font-weight: bold;
            }
        }
    }

    .menu-link {
        position: absolute;
        right: 5%;
    }
}
