// font mixin
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
  }
  
@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

// breakpoint
@mixin desktop {
    @media only screen and (max-width: 60em) {
      @content;
    }
  }
  
  @mixin tablet {
    @media only screen and (max-width: 40em) {
      @content;
    }
  }
  
  @mixin mobile {
    @media only screen and (max-width: 30em) {
      @content;
    }
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}