@import "_mixins";
@import "_variables";
@import "_grid-layout";

// @mixin base-font {
//     @include font-source-sans($base-font-family,$base-font-size, $base-font-color);
// }

@mixin primary-btn {
    background-color: $primary-bg-color;
    color: $primary-color;
}

@mixin secondary-btn {
    background-color: $primary-bg-color;
    color: $primary-color;
}