@import 'src/style/index';

.season-selector {
    .season-selector_season-group {
        display: flex;
        justify-content: space-between;

        margin-bottom: 2%;

        .season-selector_season-group-btn {
            @include primary-btn;

            &.season-selector_season-group-btn-selected {
                background-color: $primary-bg-color_hover;
            }
        }

        .season-selector_season-group-btn:hover {
            background-color: $primary-bg-color_hover;
        }
    }

    .season-selector_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}