@import 'src/style/index';

@mixin row-clicked($name, $color) {
    tbody {
        tr {
            &.#{$name} {
                td:first-of-type {
                    color: $color;
                }
            }
        }
    }
}

@mixin table-clicked($color) {
    tbody {
        tr {
            td:first-of-type {
                color: $color;
            }
        }
    }
}

.season-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 3% 0 3%;

    .team-table {
        margin-top: 5%;
        width: 92%;
        margin-bottom: 5%;

        tbody {
            tr:nth-child(-n+3) {
                font-weight:bold;
            }
        }

        &.clicked {
            @include table-clicked($none-score-font-color);
        }
        @include row-clicked('neutral-score', $neutral-score-font-color);
        @include row-clicked('positive-score', $positive-score-font-color);
        @include row-clicked('negative-score', $negative-score-font-color);
    }

    .players-table {
        width: 92%;

        &.clicked {
            @include table-clicked($none-score-font-color);
        }
        @include row-clicked('neutral-score', $neutral-score-font-color);
        @include row-clicked('positive-score', $positive-score-font-color);
        @include row-clicked('negative-score', $negative-score-font-color);
    }
}