@import 'src/style/index';

.season-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 3% 0 3%;

    .team-table {
        margin-top: 5%;
        width: 92%;
        margin-bottom: 5%;
    }

    .players-table {
        width: 92%;
    }

    tbody {
        tr {
            &.positive-score {
                td:first-of-type {
                    color: $positive-score-font-color;
                }
            }

            &.negative-score {
                td:first-of-type {
                    color: $negative-score-font-color;
                }
            }
        }
    }
}